.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    gap: 10px 5px;
}

img{
    width: 200px;
    height:200px;
}

#special{
    width: 200px;
    height: 400px;
}